# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky
!.commitlintrc.json
!.versionrc.json
!.stylelintrc.json

# bundler cache
_site
vendor

# jekyll cache
.jekyll-cache
.sass-cache

# OS
.DS_Store

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
